
  .page-footer{
    display: flex;
    position: absolute;
    width: 100%;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    background-color: #377ED7;
  }

  .footer-copyright{
      display: inline;
  }


  h5, p, a, li{
      color: white;
  }