
#main-container, .panel{
    width: 100vh;
}

@media (min-width: 1100px){
table{
    margin: auto!important;
}

.panel-heading h3{
    text-align: center;
}


.col-md-6{
    margin: auto;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

button{
    height: 35px;
}
}