:root{
    --title-color: #322153;
    --primary-color: #34cb79;

}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'EB Garamond', serif;
}
body{
    background: #fff;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
}
h1 h2 h3 h4 h5 h6{
    font-family: 'EB Garamond', serif;
    color: var(--title-color);
}
:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'EB Garamond', serif;
}
body{
    -webkit-font-smoothing:antialiased;
}

h1, h2, h3, h5, h6, a, p{
    font-family: 'EB Garamond', serif;
    color:var(--title-color)
}

a:hover{
    border-bottom: 2px solid white;

}

.bem-vindo{
    font-family: 'EB Garamond', serif;
    color:white;
    margin-right: 5px;
    text-align: center;
}

.logout{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

#icon{
    color: white
}