body{
    background: #377ED7!important;
}

#main-container{
    width: 80%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

#main-container h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.1rem;
}


tbody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

table tbody tr td span{
    display: inline-block;
    padding: 30px 20px;
    transform: translate(0);
    width: auto;
}

table tbody tr td span{
    background: #377ED7;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(34, 34, 34, 34);
    color: #FFFFFF;
    font-weight: 700;;
    padding: 10px 0px;
    width: 50%;
}

table thead{
    display: table-header-group;
    font-weight: 500;
}

table tbody tr td{
    display: table-cell;
    font-weight: 500;
    padding: 10px 50px;
    text-align: center;
    position: relative;
}

table tbody tr{
    border: none;
    display: table-row;
}

table tbody tr:nth-child(odd){
    background: #f2f2f2;
}

table tbody tr td span{
    display: inline-block;
    padding: 15px 15px;
    position: initial;
    transform: translate(0);
    width: auto;
}

table tbody tr td span{
    background: #377ED7;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
    color: #FFFFFF;
    font-weight: 700;;
    text-align: center;
    padding: 10px 5px;
    width: 100%;
    margin-bottom: 10px;
}

table thead{
    display: table-header-group;
    font-weight: 500;
}

table tbody tr td:before{
    display: none;
}

table tbody tr td span:hover, table tbody tr td span:focus{
    background: #2f6db9;
    cursor: pointer;
}

@media all and (max-width: 800px){
    table tbody tr td{
        display: block;
        text-align: right;
    }

    table tbody tr td::before{
        content: attr(data-title);
        position: absolute;
        left: 15px;
        display: block;
        font-weight: 600;
        font-size: 1em;
    }

    table{
        border: none;
    }

    table thead{
        display: none;
    }


    table tbody tr{
        margin-bottom: 10px;
        display: block;
        border: 1px solid #dad6eb;
        width: 200px;
    }

    table tbody tr td span{
        width: 100%;
    }
}